*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: green;
}
#container{
  background: linear-gradient(to right ,#BBD2DF ,#F8B6C0 ,#B8D3E0);
  width: 100%;
  height: 100vh;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dadJokes{
  width: 70%;
  height: 50%;
  /* border: 2px solid green; */
  /* filter: transparent; */
  /* background: linear-gradient(to right ,#BBD2DF ,#F8B6C0 ,#B8D3E0); */
  /* background: transparent; */
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* opacity: 0.6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#heading{

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.479);
  letter-spacing: 2px;
  color: rgb(55, 104, 178);
}

#jokes{
  color: rgb(55, 104, 178);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: sans-serif;
}

#jokesButton{
  font-family: sans-serif; 
  width: 35%;
  height: 15%;
  font-size: 1.4rem;
  word-spacing: 3px;
  font-weight: 800;
  background: linear-gradient();
  background: #FDE5E9;
  text-transform: uppercase;
  border-radius: 10px;

  border: 0;
  color: rgba(28, 25, 25, 0.6);
}

#jokesButton:hover{
  /* border: 2px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 1.3rem;
  width: 32%;
}


